html {
    /*font-family: 'Istok Web', sans-serif;*/
	color:white;	
	background:url('/media/1009/SSS-Background-Shield-GS-1240.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }

.header-navigation{
    display: inline-block;
    float: right;
    font-size: 20px;
    font-variant: small-caps;
}

.header-nav-item{
	display:inline-block;
	margin:0 15px 0 0;}

.free-consultation { display: none; }


#page-not-found
{
	color: white;
	left: 375px;
	position: absolute;
	top: 150px;
	width:500px;
	text-align:center;
}


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
