<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT aboutLandingPage ANY>
<!ATTLIST aboutLandingPage id ID #REQUIRED>
<!ELEMENT address ANY>
<!ATTLIST address id ID #REQUIRED>
<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT contactLandingPage ANY>
<!ATTLIST contactLandingPage id ID #REQUIRED>
<!ELEMENT contentFolder ANY>
<!ATTLIST contentFolder id ID #REQUIRED>
<!ELEMENT dateFolder ANY>
<!ATTLIST dateFolder id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT gallery ANY>
<!ATTLIST gallery id ID #REQUIRED>
<!ELEMENT galleryItem ANY>
<!ATTLIST galleryItem id ID #REQUIRED>
<!ELEMENT genericLandingPage ANY>
<!ATTLIST genericLandingPage id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT landingPageBase ANY>
<!ATTLIST landingPageBase id ID #REQUIRED>
<!ELEMENT redirect ANY>
<!ATTLIST redirect id ID #REQUIRED>
<!ELEMENT serviceItem ANY>
<!ATTLIST serviceItem id ID #REQUIRED>
<!ELEMENT servicesFolder ANY>
<!ATTLIST servicesFolder id ID #REQUIRED>
<!ELEMENT servicesLandingPage ANY>
<!ATTLIST servicesLandingPage id ID #REQUIRED>
<!ELEMENT siteBase ANY>
<!ATTLIST siteBase id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT socialMediaLink ANY>
<!ATTLIST socialMediaLink id ID #REQUIRED>

]>
<root id="-1">
  <siteBase id="1077" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-05-20T11:28:19" updateDate="2013-05-28T13:32:46" nodeName="Security Service Specialists" urlName="security-service-specialists" path="-1,1077" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1099">
    <contentFolder id="1078" parentID="1077" level="2" creatorID="0" sortOrder="0" createDate="2013-05-20T11:28:38" updateDate="2013-05-27T14:06:15" nodeName="Globals" urlName="globals" path="-1,1077,1078" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0">
      <menu />
      <umbracoNaviHide>1</umbracoNaviHide>
      <contentFolder id="1090" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2013-05-20T11:44:26" updateDate="2013-05-27T14:06:16" nodeName="Footer Links" urlName="footer-links" path="-1,1077,1078,1090" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide>0</umbracoNaviHide>
        <contentFolder id="1091" parentID="1090" level="4" creatorID="0" sortOrder="0" createDate="2013-05-20T11:44:37" updateDate="2013-05-27T14:06:18" nodeName="About Us" urlName="about-us" path="-1,1077,1078,1090,1091" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <redirect id="1092" parentID="1091" level="5" creatorID="0" sortOrder="0" createDate="2013-05-20T11:45:10" updateDate="2013-05-27T14:06:19" nodeName="Company History" urlName="company-history" path="-1,1077,1078,1090,1091,1092" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="0">
            <menu />
            <umbracoNaviHide>0</umbracoNaviHide>
            <redirectUrl><![CDATA[{"Title":"","Mode":2,"NodeId":1201,"Url":"/globals/content/company-history.aspx","NewWindow":false}]]></redirectUrl>
          </redirect>
          <redirect id="1093" parentID="1091" level="5" creatorID="0" sortOrder="1" createDate="2013-05-20T11:45:28" updateDate="2013-05-27T14:06:20" nodeName="Frequently Asked Questions" urlName="frequently-asked-questions" path="-1,1077,1078,1090,1091,1093" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="0">
            <menu />
            <umbracoNaviHide />
            <redirectUrl><![CDATA[]]></redirectUrl>
          </redirect>
          <redirect id="1094" parentID="1091" level="5" creatorID="0" sortOrder="2" createDate="2013-05-20T11:45:40" updateDate="2013-05-27T14:06:21" nodeName="Solutions" urlName="solutions" path="-1,1077,1078,1090,1091,1094" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="0">
            <menu />
            <umbracoNaviHide />
            <redirectUrl><![CDATA[]]></redirectUrl>
          </redirect>
        </contentFolder>
        <contentFolder id="1095" parentID="1090" level="4" creatorID="0" sortOrder="1" createDate="2013-05-20T11:45:53" updateDate="2013-05-27T14:06:21" nodeName="Professional Services" urlName="professional-services" path="-1,1077,1078,1090,1095" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <redirect id="1096" parentID="1095" level="5" creatorID="0" sortOrder="0" createDate="2013-05-20T11:46:09" updateDate="2013-05-27T14:06:22" nodeName="Security Consulting" urlName="security-consulting" path="-1,1077,1078,1090,1095,1096" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="0">
            <menu />
            <umbracoNaviHide />
            <redirectUrl><![CDATA[]]></redirectUrl>
          </redirect>
          <redirect id="1097" parentID="1095" level="5" creatorID="0" sortOrder="1" createDate="2013-05-20T11:46:22" updateDate="2013-05-27T14:06:22" nodeName="Armed Personnel" urlName="armed-personnel" path="-1,1077,1078,1090,1095,1097" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="0">
            <menu />
            <umbracoNaviHide />
            <redirectUrl><![CDATA[]]></redirectUrl>
          </redirect>
          <redirect id="1098" parentID="1095" level="5" creatorID="0" sortOrder="2" createDate="2013-05-20T11:46:33" updateDate="2013-05-27T14:06:23" nodeName="Attorney Services" urlName="attorney-services" path="-1,1077,1078,1090,1095,1098" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="0">
            <menu />
            <umbracoNaviHide>0</umbracoNaviHide>
            <redirectUrl><![CDATA[{"Title":"","Mode":1,"NodeId":null,"Url":"","NewWindow":false}]]></redirectUrl>
          </redirect>
        </contentFolder>
      </contentFolder>
      <contentFolder id="1100" parentID="1078" level="3" creatorID="0" sortOrder="3" createDate="2013-05-20T14:15:53" updateDate="2013-05-27T14:06:26" nodeName="Address" urlName="address" path="-1,1077,1078,1100" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide />
        <address id="1089" parentID="1100" level="4" creatorID="0" sortOrder="2" createDate="2013-05-20T11:43:15" updateDate="2013-05-27T14:06:27" nodeName="Primary" urlName="primary" path="-1,1077,1078,1100,1089" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <streetAddress1>968 Main Street Suite 10</streetAddress1>
          <streetAddress2 />
          <city>Wakefield</city>
          <state>MA</state>
          <zipcode>01880</zipcode>
          <googleMap><![CDATA[42.4819329,-71.06582960000003,13]]></googleMap>
          <primaryPhone>(781) 245.2215</primaryPhone>
          <secondaryPhone>(781) 245.2215</secondaryPhone>
          <emailAddress>bessesdotter@gmail.com</emailAddress>
        </address>
      </contentFolder>
      <contentFolder id="1200" parentID="1078" level="3" creatorID="0" sortOrder="3" createDate="2013-05-23T18:44:10" updateDate="2013-05-27T14:06:24" nodeName="Content" urlName="content" path="-1,1077,1078,1200" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide>0</umbracoNaviHide>
        <feature id="1201" parentID="1200" level="4" creatorID="0" sortOrder="0" createDate="2013-05-23T18:44:34" updateDate="2013-05-27T14:06:25" nodeName="Company History" urlName="company-history" path="-1,1077,1078,1200,1201" isDoc="" nodeType="1112" creatorName="admin" writerName="admin" writerID="0" template="1189">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<div class="entry">
<p><img width="256" height="290" src="/media/1007/SSS-Main-Logo_256x290.jpg" alt="SSS Main Logo"/> Security Service Specialists, Inc. provides a wide array of corporate and legal investigative services to attorneys, corporations and individuals that require sophisticated, thorough and cost-effective investigations.</p>
<p>In today's increasingly fast-paced society, the need for professional investigative and business intelligence services has never been greater. Security Service Specialists, Inc. was formed to meet this demand.</p>
<p>We understand it is imperative to work closely and communicate clearly with our clients. We continually brief our clients during the course of every investigation, keeping them apprised of our progress, methods and costs.</p>
<p>Security Service Specialists, Inc. abides by the highest professional, ethical, and legal standards. We believe that it is our responsibility to safeguard your reputation as well as our own. Let the security experts at Security Service Specialists, Inc. provide you with the best investigative and security services offered; fully licensed and bonded.</p>
<p>Security Service Specialists, Inc. provides a wide array of corporate and legal investigative services to attorneys, corporations and individuals that require sophisticated, thorough and cost-effective investigations.</p>
<p>In today's increasingly fast-paced society, the need for professional investigative and business intelligence services has never been greater. Security Service Specialists, Inc. was formed to meet this demand.</p>
<p>We understand it is imperative to work closely and communicate clearly with our clients. We continually brief our clients during the course of every investigation, keeping them apprised of our progress, methods and costs.</p>
<p>Security Service Specialists, Inc. abides by the highest professional, ethical, and legal standards. We believe that it is our responsibility to safeguard your reputation as well as our own. Let the security experts at Security Service Specialists, Inc. provide you with the best investigative and security services offered; fully licensed and bonded.</p>
</div>]]></bodyText>
          <featureLink><![CDATA[{"Title":"","Mode":1,"NodeId":null,"Url":"","NewWindow":false}]]></featureLink>
          <featureOverview><![CDATA[]]></featureOverview>
          <itemImage />
        </feature>
      </contentFolder>
      <contentFolder id="1081" parentID="1078" level="3" creatorID="0" sortOrder="4" createDate="2013-05-20T11:32:36" updateDate="2013-05-27T14:06:27" nodeName="Social Media Links" urlName="social-media-links" path="-1,1077,1078,1081" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide>0</umbracoNaviHide>
        <socialMediaLink id="1082" parentID="1081" level="4" creatorID="0" sortOrder="6" createDate="2013-05-20T11:32:49" updateDate="2013-05-27T14:06:27" nodeName="Facebook" urlName="facebook" path="-1,1077,1078,1081,1082" isDoc="" nodeType="1080" creatorName="admin" writerName="admin" writerID="0" template="0">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <profile><![CDATA[{"Title":"","Mode":1,"NodeId":null,"Url":"","NewWindow":false}]]></profile>
          <mediaImage>1071</mediaImage>
        </socialMediaLink>
        <socialMediaLink id="1083" parentID="1081" level="4" creatorID="0" sortOrder="7" createDate="2013-05-20T11:33:01" updateDate="2013-05-27T14:06:28" nodeName="Twitter" urlName="twitter" path="-1,1077,1078,1081,1083" isDoc="" nodeType="1080" creatorName="admin" writerName="admin" writerID="0" template="0">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <profile><![CDATA[{"Title":"","Mode":1,"NodeId":null,"Url":"","NewWindow":false}]]></profile>
          <mediaImage>1073</mediaImage>
        </socialMediaLink>
        <socialMediaLink id="1084" parentID="1081" level="4" creatorID="0" sortOrder="8" createDate="2013-05-20T11:33:12" updateDate="2013-05-27T14:06:28" nodeName="Linked In" urlName="linked-in" path="-1,1077,1078,1081,1084" isDoc="" nodeType="1080" creatorName="admin" writerName="admin" writerID="0" template="0">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <profile><![CDATA[{"Title":"","Mode":1,"NodeId":null,"Url":"","NewWindow":false}]]></profile>
          <mediaImage>1072</mediaImage>
        </socialMediaLink>
      </contentFolder>
    </contentFolder>
    <homepage id="1079" parentID="1077" level="2" creatorID="0" sortOrder="1" createDate="2013-05-20T11:29:01" updateDate="2013-05-27T14:06:28" nodeName="Home" urlName="home" path="-1,1077,1079" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1099">
      <menu />
      <umbracoNaviHide>0</umbracoNaviHide>
      <metaTitle>Security Service Specialists</metaTitle>
      <metaDescription>Security Service Specialists</metaDescription>
      <metaKeywords>Security Service Specialists</metaKeywords>
      <bodyText><![CDATA[]]></bodyText>
      <pageHeader />
    </homepage>
    <aboutLandingPage id="1145" parentID="1077" level="2" creatorID="0" sortOrder="2" createDate="2013-05-21T12:44:41" updateDate="2013-05-27T14:06:28" nodeName="About" urlName="about" path="-1,1077,1145" isDoc="" nodeType="1144" creatorName="admin" writerName="admin" writerID="0" template="1101">
      <menu />
      <umbracoNaviHide>0</umbracoNaviHide>
      <metaTitle>Security Service Specialists</metaTitle>
      <metaDescription>Security Service Specialists</metaDescription>
      <metaKeywords>Security Service Specialists</metaKeywords>
      <bodyText><![CDATA[]]></bodyText>
      <pageHeader />
      <contentFolder id="1108" parentID="1145" level="3" creatorID="0" sortOrder="1" createDate="2013-05-20T19:25:28" updateDate="2013-05-27T14:06:29" nodeName="Who We Are" urlName="who-we-are" path="-1,1077,1145,1108" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide>0</umbracoNaviHide>
        <feature id="1114" parentID="1108" level="4" creatorID="0" sortOrder="1" createDate="2013-05-20T19:39:53" updateDate="2013-05-27T14:06:29" nodeName="Professional Security Services" urlName="professional-security-services" path="-1,1077,1145,1108,1114" isDoc="" nodeType="1112" creatorName="admin" writerName="admin" writerID="0" template="1189">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>In today's increasingly fast-paced society, the need for professional investigative and business intelligence services has never been greater. Security Service Specialists, Inc. was formed to meet this demand</p>]]></bodyText>
          <featureLink><![CDATA[{"Title":"","Mode":1,"NodeId":null,"Url":"","NewWindow":false}]]></featureLink>
          <featureOverview><![CDATA[<p>In today's increasingly fast-paced society, the need for professional investigative and business intelligence services has never been greater. Security Service Specialists, Inc. was formed to meet this demand</p>]]></featureOverview>
          <itemImage>1111</itemImage>
        </feature>
      </contentFolder>
      <dateFolder id="1117" parentID="1145" level="3" creatorID="0" sortOrder="2" createDate="2013-05-20T19:51:40" updateDate="2013-05-27T14:06:29" nodeName="Latest News" urlName="latest-news" path="-1,1077,1145,1117" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide />
        <dateFolder id="1119" parentID="1117" level="4" creatorID="0" sortOrder="2" createDate="2013-05-20T19:52:01" updateDate="2013-05-27T14:06:30" nodeName="2013" urlName="2013" path="-1,1077,1145,1117,1119" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="0">
          <menu />
          <umbracoNaviHide />
          <dateFolder id="1123" parentID="1119" level="5" creatorID="0" sortOrder="3" createDate="2013-05-20T19:54:04" updateDate="2013-05-27T14:06:30" nodeName="06" urlName="06" path="-1,1077,1145,1117,1119,1123" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="0">
            <menu />
            <umbracoNaviHide />
            <article id="1122" parentID="1123" level="6" creatorID="0" sortOrder="1" createDate="2013-05-20T19:53:49" updateDate="2013-05-27T14:06:30" nodeName="Lorem Ipsum" urlName="lorem-ipsum" path="-1,1077,1145,1117,1119,1123,1122" isDoc="" nodeType="1113" creatorName="admin" writerName="admin" writerID="0" template="1189">
              <menu />
              <umbracoNaviHide>0</umbracoNaviHide>
              <bodyText><![CDATA[<p>Seattle Sound or something else</p>]]></bodyText>
              <articleDate>2013-06-01T00:00:00</articleDate>
              <itemImage />
              <articleLink><![CDATA[{"Title":"","Mode":1,"NodeId":null,"Url":"","NewWindow":false}]]></articleLink>
              <articleOverview><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula id dictum vitae, dictum ut libero. Cras sodales, ac.<br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula id dictum vitae, dictum ut libero. Cras sodales, velit vel fermentum blandit, justo mi dapibus velit, nec elementum diam mauris ac.</p>]]></articleOverview>
            </article>
          </dateFolder>
          <dateFolder id="1121" parentID="1119" level="5" creatorID="0" sortOrder="4" createDate="2013-05-20T19:52:28" updateDate="2013-05-27T14:06:30" nodeName="04" urlName="04" path="-1,1077,1145,1117,1119,1121" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="0">
            <menu />
            <umbracoNaviHide />
            <article id="1118" parentID="1121" level="6" creatorID="0" sortOrder="1" createDate="2013-05-20T19:52:01" updateDate="2013-05-27T14:06:31" nodeName="New website launch" urlName="new-website-launch" path="-1,1077,1145,1117,1119,1121,1118" isDoc="" nodeType="1113" creatorName="admin" writerName="admin" writerID="0" template="1189">
              <menu />
              <umbracoNaviHide>0</umbracoNaviHide>
              <bodyText><![CDATA[]]></bodyText>
              <articleDate>2013-04-01T00:00:00</articleDate>
              <itemImage />
              <articleLink><![CDATA[{"Title":"","Mode":1,"NodeId":null,"Url":"","NewWindow":false}]]></articleLink>
              <articleOverview><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula id dictum vitae, dictum ut libero. Cras sodales, ac.<br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula id dictum vitae, dictum ut libero. Cras sodales, velit vel fermentum blandit, justo mi dapibus velit, nec elementum diam mauris ac.</p>]]></articleOverview>
            </article>
          </dateFolder>
        </dateFolder>
      </dateFolder>
      <contentFolder id="1124" parentID="1145" level="3" creatorID="0" sortOrder="3" createDate="2013-05-20T20:00:59" updateDate="2013-05-27T14:06:31" nodeName="Why Us" urlName="why-us" path="-1,1077,1145,1124" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide>0</umbracoNaviHide>
        <feature id="1125" parentID="1124" level="4" creatorID="0" sortOrder="1" createDate="2013-05-20T20:01:54" updateDate="2013-05-27T14:06:31" nodeName="Experience" urlName="experience" path="-1,1077,1145,1124,1125" isDoc="" nodeType="1112" creatorName="admin" writerName="admin" writerID="0" template="1189">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula iddictum vitae, dictum ut libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula iddictum vitae, dictum ut libero. Read More...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula iddictum vitae, dictum ut libero. Read More...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula iddictum vitae, dictum ut libero. Read More...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula iddictum vitae, dictum ut libero. Read More...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula iddictum vitae, dictum ut libero. Read More...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula iddictum vitae, dictum ut libero. Read More...</p>
<p> </p>
<p>Experience-it</p>]]></bodyText>
          <featureLink><![CDATA[{"Title":"","Mode":1,"NodeId":null,"Url":"","NewWindow":false}]]></featureLink>
          <featureOverview><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante erat, vehicula iddictum vitae, dictum ut libero. Read More...</p>]]></featureOverview>
          <itemImage />
        </feature>
      </contentFolder>
    </aboutLandingPage>
    <servicesLandingPage id="1174" parentID="1077" level="2" creatorID="0" sortOrder="3" createDate="2013-05-22T17:45:34" updateDate="2013-05-27T14:06:31" nodeName="Services" urlName="services" path="-1,1077,1174" isDoc="" nodeType="1142" creatorName="admin" writerName="admin" writerID="0" template="1143">
      <menu />
      <umbracoNaviHide>0</umbracoNaviHide>
      <metaTitle>Security Service Specialists</metaTitle>
      <metaDescription>Security Service Specialists</metaDescription>
      <metaKeywords>Security Service Specialists</metaKeywords>
      <bodyText><![CDATA[]]></bodyText>
      <pageHeader />
      <servicesFolder id="1175" parentID="1174" level="3" creatorID="0" sortOrder="0" createDate="2013-05-22T17:46:06" updateDate="2013-05-27T14:06:32" nodeName="People" urlName="people" path="-1,1077,1174,1175" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide />
        <servicesFolder id="1181" parentID="1175" level="4" creatorID="0" sortOrder="3" createDate="2013-05-22T17:48:17" updateDate="2013-05-27T14:06:32" nodeName="Security Officers" urlName="security-officers" path="-1,1077,1174,1175,1181" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0">
          <menu />
          <umbracoNaviHide />
          <serviceItem id="1178" parentID="1181" level="5" creatorID="0" sortOrder="1" createDate="2013-05-22T17:47:06" updateDate="2013-05-27T14:06:32" nodeName="Uniformed" urlName="uniformed" path="-1,1077,1174,1175,1181,1178" isDoc="" nodeType="1171" creatorName="admin" writerName="admin" writerID="0" template="1189">
            <menu />
            <umbracoNaviHide>0</umbracoNaviHide>
            <itemImage />
            <serviceOverview><![CDATA[]]></serviceOverview>
            <bodyText><![CDATA[]]></bodyText>
            <serviceTitle />
          </serviceItem>
          <serviceItem id="1179" parentID="1181" level="5" creatorID="0" sortOrder="2" createDate="2013-05-22T17:47:16" updateDate="2013-05-27T14:06:33" nodeName="Plain Clothed" urlName="plain-clothed" path="-1,1077,1174,1175,1181,1179" isDoc="" nodeType="1171" creatorName="admin" writerName="admin" writerID="0" template="1189">
            <menu />
            <umbracoNaviHide>0</umbracoNaviHide>
            <itemImage />
            <serviceOverview><![CDATA[]]></serviceOverview>
            <bodyText><![CDATA[]]></bodyText>
            <serviceTitle />
          </serviceItem>
          <serviceItem id="1180" parentID="1181" level="5" creatorID="0" sortOrder="3" createDate="2013-05-22T17:47:27" updateDate="2013-05-27T14:06:33" nodeName="Blazer Program" urlName="blazer-program" path="-1,1077,1174,1175,1181,1180" isDoc="" nodeType="1171" creatorName="admin" writerName="admin" writerID="0" template="1189">
            <menu />
            <umbracoNaviHide>0</umbracoNaviHide>
            <itemImage />
            <serviceOverview><![CDATA[]]></serviceOverview>
            <bodyText><![CDATA[]]></bodyText>
            <serviceTitle />
          </serviceItem>
        </servicesFolder>
      </servicesFolder>
      <servicesFolder id="1176" parentID="1174" level="3" creatorID="0" sortOrder="1" createDate="2013-05-22T17:46:31" updateDate="2013-05-27T14:06:33" nodeName="Services" urlName="services" path="-1,1077,1174,1176" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide />
        <servicesFolder id="1182" parentID="1176" level="4" creatorID="0" sortOrder="0" createDate="2013-05-22T17:49:16" updateDate="2013-05-27T14:06:34" nodeName="Patrol Services" urlName="patrol-services" path="-1,1077,1174,1176,1182" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0">
          <menu />
          <umbracoNaviHide />
          <serviceItem id="1183" parentID="1182" level="5" creatorID="0" sortOrder="0" createDate="2013-05-22T17:49:27" updateDate="2013-05-27T14:06:34" nodeName="Sedans" urlName="sedans" path="-1,1077,1174,1176,1182,1183" isDoc="" nodeType="1171" creatorName="admin" writerName="admin" writerID="0" template="1189">
            <menu />
            <umbracoNaviHide>0</umbracoNaviHide>
            <itemImage />
            <serviceOverview><![CDATA[]]></serviceOverview>
            <bodyText><![CDATA[<p>Sedans</p>
<p> </p>]]></bodyText>
            <serviceTitle />
          </serviceItem>
          <serviceItem id="1184" parentID="1182" level="5" creatorID="0" sortOrder="1" createDate="2013-05-22T17:49:39" updateDate="2013-05-27T14:06:34" nodeName="Vans" urlName="vans" path="-1,1077,1174,1176,1182,1184" isDoc="" nodeType="1171" creatorName="admin" writerName="admin" writerID="0" template="1189">
            <menu />
            <umbracoNaviHide>0</umbracoNaviHide>
            <itemImage />
            <serviceOverview><![CDATA[]]></serviceOverview>
            <bodyText><![CDATA[]]></bodyText>
            <serviceTitle />
          </serviceItem>
          <serviceItem id="1185" parentID="1182" level="5" creatorID="0" sortOrder="2" createDate="2013-05-22T17:49:50" updateDate="2013-05-27T14:06:34" nodeName="Utility Vehicles" urlName="utility-vehicles" path="-1,1077,1174,1176,1182,1185" isDoc="" nodeType="1171" creatorName="admin" writerName="admin" writerID="0" template="1189">
            <menu />
            <umbracoNaviHide>0</umbracoNaviHide>
            <itemImage />
            <serviceOverview><![CDATA[]]></serviceOverview>
            <bodyText><![CDATA[]]></bodyText>
            <serviceTitle />
          </serviceItem>
        </servicesFolder>
      </servicesFolder>
      <servicesFolder id="1177" parentID="1174" level="3" creatorID="0" sortOrder="2" createDate="2013-05-22T17:46:39" updateDate="2013-05-27T14:06:35" nodeName="Experience" urlName="experience" path="-1,1077,1174,1177" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0">
        <menu />
        <umbracoNaviHide />
        <serviceItem id="1186" parentID="1177" level="4" creatorID="0" sortOrder="0" createDate="2013-05-22T17:50:26" updateDate="2013-05-27T14:06:35" nodeName="Who We Are" urlName="who-we-are" path="-1,1077,1174,1177,1186" isDoc="" nodeType="1171" creatorName="admin" writerName="admin" writerID="0" template="1189">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <itemImage />
          <serviceOverview><![CDATA[<p>In today's increasingly fast-paced society, the need for professional investigative and business intelligence services has never been greater. Security Service Specialists, Inc. was formed to meet this demand.</p>]]></serviceOverview>
          <bodyText><![CDATA[]]></bodyText>
          <serviceTitle />
        </serviceItem>
        <serviceItem id="1187" parentID="1177" level="4" creatorID="0" sortOrder="1" createDate="2013-05-22T17:50:36" updateDate="2013-05-27T14:06:35" nodeName="Reliability" urlName="reliability" path="-1,1077,1174,1177,1187" isDoc="" nodeType="1171" creatorName="admin" writerName="admin" writerID="0" template="1189">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <itemImage />
          <serviceOverview><![CDATA[<p>In today's increasingly fast-paced society, the need for professional investigative and business intelligence services has never been greater. Security Service Specialists, Inc. was formed to meet this demand.</p>]]></serviceOverview>
          <bodyText><![CDATA[]]></bodyText>
          <serviceTitle />
        </serviceItem>
        <serviceItem id="1188" parentID="1177" level="4" creatorID="0" sortOrder="2" createDate="2013-05-22T17:50:52" updateDate="2013-05-27T14:06:36" nodeName="Expertise" urlName="expertise" path="-1,1077,1174,1177,1188" isDoc="" nodeType="1171" creatorName="admin" writerName="admin" writerID="0" template="1189">
          <menu />
          <umbracoNaviHide>0</umbracoNaviHide>
          <itemImage />
          <serviceOverview><![CDATA[<p>In today's increasingly fast-paced society, the need for professional investigative and business intelligence services has never been greater. Security Service Specialists, Inc. was formed to meet this demand.</p>]]></serviceOverview>
          <bodyText><![CDATA[]]></bodyText>
          <serviceTitle />
        </serviceItem>
      </servicesFolder>
    </servicesLandingPage>
    <contactLandingPage id="1192" parentID="1077" level="2" creatorID="0" sortOrder="4" createDate="2013-05-22T21:23:29" updateDate="2013-05-27T14:06:36" nodeName="Contact Us" urlName="contact-us" path="-1,1077,1192" isDoc="" nodeType="1191" creatorName="admin" writerName="admin" writerID="0" template="1190">
      <menu>Contact</menu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <metaTitle>Security Service Specialists</metaTitle>
      <metaDescription>Security Service Specialists</metaDescription>
      <metaKeywords>Security Service Specialists</metaKeywords>
      <bodyText><![CDATA[]]></bodyText>
      <pageHeader />
    </contactLandingPage>
    <sitemap id="1219" parentID="1077" level="2" creatorID="0" sortOrder="6" createDate="2013-05-27T13:52:00" updateDate="2013-05-27T16:34:27" nodeName="Sitemap" urlName="sitemap" path="-1,1077,1219" isDoc="" nodeType="1218" creatorName="admin" writerName="admin" writerID="0" template="1217">
      <menu />
      <umbracoNaviHide>1</umbracoNaviHide>
    </sitemap>
    <genericLandingPage id="1207" parentID="1077" level="2" creatorID="0" sortOrder="7" createDate="2013-05-24T14:15:09" updateDate="2013-05-27T14:06:36" nodeName="Search" urlName="search" path="-1,1077,1207" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="0" template="1208">
      <menu />
      <umbracoNaviHide>1</umbracoNaviHide>
      <metaTitle>Security Service Specialists</metaTitle>
      <metaDescription>Security Service Specialists</metaDescription>
      <metaKeywords>Security Service Specialists</metaKeywords>
      <bodyText><![CDATA[]]></bodyText>
      <pageHeader />
    </genericLandingPage>
    <menu />
    <googleAnalytics><![CDATA[<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41255636-1', 'securityservicespecialists.com');
  ga('send', 'pageview');

</script>]]></googleAnalytics>
    <googleSiteVerification>yX7jBNYgQhHDxVwvd1gPJPeCi99FgTIwlmt7Ofj5N7o</googleSiteVerification>
    <umbracoNaviHide>0</umbracoNaviHide>
  </siteBase>
</root>